// Larghezza del contenuto
$general-content-width: 80%;
$general-content-margin: 0 auto;

// Green Button set
$button-green-bg: #85b680;
$button-white-text: white;
$button-border-green: 3px solid #85b680;
$button-border-none: none;
$button-weight-bold: bold;
$button-pointer: pointer;
$button-radius: 50px;

// Green button hover set
$button-white-bg: white;
$button-green-text: #85b680;